/* This is the main container for your app */
.App {
  text-align: center;
}

/* This is the logo of your app */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* This is the animation for your logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* This is the header of your app */
.App-header {
  background-color: #f0f0f0; /* Change this to your desired color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* This is the link in your app */
.App-link {
  color: #61dafb;
}

/* This is the animation for your logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* This is the body of your website */
body {
  background-color: #f0f0f0; /* Change this to your desired color */
}

/* App.css */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}
