@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.profile-img {
  width: 250px;
  height: 250px;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero-container {
  @apply min-h-screen flex flex-col items-center justify-center bg-gray-100 py-4 relative;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #000;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
