/* 
  The .button-black class is used to style a button with a black background.
  The text color is white.
  The button is displayed as an inline-block element with a specific width, height, and line-height.
  The border-radius property is used to make the button oval-shaped.
*/
.button-black {
  background-color: black;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px / 30px; /* Makes the button oval */
  width: 120px; /* Adjust this to change the size of the button */
  height: 60px; /* Adjust this to change the size of the button */
  line-height: 60px; /* Adjust this to vertically center the text */
}

/* 
  The .button-white class is used to style a button with a white background.
  The text color is black.
  The button is displayed as an inline-block element with a specific width, height, and line-height.
  The border-radius property is used to make the button oval-shaped.
*/
.button-white {
  background-color: white;
  border: none;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px / 30px; /* Makes the button oval */
  width: 120px; /* Adjust this to change the size of the button */
  height: 60px; /* Adjust this to change the size of the button */
  line-height: 60px; /* Adjust this to vertically center the text */
}