/* Portfolio.css */
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tech-list li {
  cursor: default;
}

.status-badge,
.btn-code,
.btn-demo {
  display: block;
  text-align: center;
  padding: 8px 16px;
  margin: 0 auto;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

.btn-code {
  background-color: #58a3d1; /* Example button color, change as needed */
}

.status-badge {
  background-color: #ffeb3b; /* Example badge color, change as needed */
  color: black;
  cursor: default;
}

.btn-demo {
  background-color: #d158a3; /* Adjusted for demo button */
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 20px; /* Pill-like shape */
  font-size: 0.75rem;
  font-weight: 500;
}
